/* HeroDetailComponent's private CSS styles */
label {
  color: #b45c29;
  font-weight: bold;
}

input {
  font-size: 1em;
  padding: .5rem;
}

span {
  color: white;
}

.here {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 10px;
}

.ppw {
  color: red;
  font-weight: bold;
}

h2 {
  color: #b45c29;
  font-weight: bold;
}

.deta{
  font-size: 20px;
}
 
.show{
  margin: 0;
  margin-top: 7px;
  display: none;
}
.here:hover{
  .show{
    display: flex;
  }
}

.btnS {
  width: 120px;
  background-color: black;
  border: 2px solid #b45c29;
  color: white;
  border-radius: 5px;
  padding: 0;
  padding: 3px ;
}

.btnS:hover {
  background-color: black;
  color: #b45c29;
  transform: scale(1.1);
}

button:disabled {
  background-color: #eee;
  color: #ccc;
  cursor: auto;
}