/* AppComponent's private CSS styles */
h1 {
    margin-bottom: 0;
    color: #b45c29;
    text-shadow: #030202 20px 0.1px;
    font-size: 48px;
}

nav {
    width: 100%;
    text-align: center;
}

nav a {
    text-decoration: none;
    display: inline-block;
    text-transform: uppercase;
    font-weight: bold;
}
 

/**/
#title {
    width: 100px;
    background-color: black;
    border: 2px solid #b45c29;
    color: white;
   border-radius: 5px;
}

#title:hover {
    color: #b45c29;
    transform: scale(1.1);
}

nav a.active {
    background-color: #303030;
}