/* MessagesComponent's private CSS styles */
.msg{
  width: 100%;
}

h2 {
  color: white;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: lighter;
}

.clear {
  background-color: black;
  border: 2px solid #b45c29;
  border-radius: 5px;
  color: #efeff1;
  margin-bottom: 12px;
  padding: 1rem;
  font-size: 1rem;
}

.clear:hover {
  color: #b45c29;
  transform: scale(1.1);
}