/* DashboardComponent's private CSS styles */

h2 {
  text-align: center;
}

.dash {
  width: 100%;
}

.heroes-menu {
  padding: 0;
  margin: auto;
  width: 40%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  justify-content: center;
 
}

#hero-size {
  width: 190px;
  margin-left: 20px;
}

a {
  background-color: black;
  border: 2px solid #b45c29;
  border-radius: 5px;
  color: #efeff1;
  padding: 1rem;
  font-size: 1.2rem;
  text-decoration: none;
  display: inline-block;
  text-align: center;
  width: 100%;
  min-width: 70px;
  margin: .5rem auto;
  box-sizing: border-box;
  order: 0;
  flex: 0 1 auto;
  align-self: auto;
}

@media (min-width: 1100px) {
  a {
    width: 18%;
    box-sizing: content-box;
  }
}

@media (max-width: 1100px) {
  .heroes-menu {
    display: flex;
    flex-direction: column;
    width: 100%;
  }

  #hero-size {
    width: 90%;
  }
}

a:hover {
  color: #b45c29;
  transform: scale(1.1);
  transition: 0.2s;
}